// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


@import "node_modules/font-awesome/scss/font-awesome.scss";

* {

  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {

    background: rgb(40, 107, 214);
    color: white;
    text-align: center;
}

table {

    margin: auto;
    td {

      color: black;
      a {

        text-decoration: none;
      }
    }
}



.show {

    text-align: center;
    margin-top: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#author_search {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#create_new_post {

    border-radius: 5px;
    padding: 15px;
    position: relative;
    top: 70px;
    background: rgb(7, 130, 34);
    text-decoration: none;
    color: white;
}

table {

    border:1px solid rgba(0, 8, 3, 0.24);
}

div.form-group {

  margin: 10px;
  display: flex;
  justify-content:space-between;
  align-items:center;
  text-align: left;
}

.fa-plus {

}

.fa-edit {

    height: 100%;
    width: 100%;
    padding: 20px;
    background: red;
    color: white;
}
