// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


@import "node_modules/font-awesome/scss/font-awesome.scss";

* {

  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {

    background: rgb(40, 107, 214);
    color: white;
    text-align: center;
}

table {

margin: auto;
background: white;
border: 1px solid white;
    td {

      border-bottom:1px solid lightgrey;
      border-right:1px solid lightgrey;
      padding:0 40px;
      a {

        text-decoration: none;
        color: black;
      }
    }
}



.show {

    text-align: center;
    margin-top: 100px;


}

#author_search {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 50px;
    left: 100px;
  }

#create_new_post {

    border-radius: 5px;
    padding: 15px;
    position: relative;
    top: 70px;
    background: rgb(7, 130, 34);
    text-decoration: none;
    color: white;
}



div.form-group {

  margin: 10px;
  display: flex;
  justify-content:space-between;
  align-items:center;
  text-align: left;
}

.fa-plus {

}

.fa-edit {

    height: 100%;
    width: 100%;

    padding: 10px;
    background: red;
    color: white;
    font-size: 30px;
}
