// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


@import "node_modules/font-awesome/scss/font-awesome.scss";

* {

  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

  header {

    background: red;
    color: white;
    text-align: center;
  }

  table {

    margin: auto;
  }

  .show {

    text-align: center;
    margin-top: 50px;
  }

  #author_search {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #create_new_post {

    border-radius: 5px;
    padding: 15px;
    background: lightblue;
    text-decoration: none;
    color: white;
  }

div.form-group {

  margin: 15px;
  display: flex;
  justify-content:space-between;
  align-items:center;
  text-align: left;

}
   i {

    height: 100%;
    width: 100%;

    background: red;
    color: white;
  }
